<div class="login-container">
  <div class="box">
    <h2>Login</h2>
    <!-- <form (ngSubmit)="onSubmit()"> -->
    <form (submit)="loginProcess($event)" [formGroup]="formLogin">
      <div class="form-group">
        <label for="Email">Email</label>
        <input
          type="text"
          id="Email"
          name="Email"
          formControlName="Email"
          required
        />
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input
          type="Password"
          id="Password"
          name="Password"
          formControlName="Password"
          required
        />
      </div>
      <button
        type="submit"
        [disabled]="
          formLogin.value.Email === '' || formLogin.value.Password === ''
        "
      >
        Login
      </button>
    </form>
  </div>
  <h4 routerLink="/auth/register">Sign Up Here</h4>
</div>
