<div class="background">
  <div class="cover">
    <div class="contact-us">
      <h1>Contact Us</h1>
      <i class="material-icons">{{ navbarOpen ? "close" : "mail" }}</i>
      chidiemmamadu@gmail.com
      <div>
        <i class="material-icons">{{ navbarOpen ? "close" : "mail" }}</i>
        mchibueze312@gmail.com
      </div>
      <div>
        <i class="material-icons">{{ navbarOpen ? "close" : "phone" }}</i>
        +2347031911306
      </div>
      <div>
        <i class="material-icons">{{ navbarOpen ? "close" : "phone" }}</i>
        08168950707
      </div>
    </div>
  </div>
  <div class="contact-form">
    <h2>Get in Touch</h2>
    <h4>Feel free to drop us a line below</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
