<section>
  <div class="flex">
    <div class="div-one">
      <h1 class="multy">Battle Royale</h1>
      <div class="create">Create Tournament</div>
      <div class="play">
        Battle Royale tournaments comes in table, and is ranked by the team with
        the highest win. the tournament host decides if he will rank with first
        blood or kills if we have two or more teams with same scores. You can
        create tournament by clicking any of the create tournament buttons.
      </div>
      <div class="join">Join Tournament</div>
      <div class="play">
        To join a Battle Royale tournament, you can go to tournaments page and
        filter by "BR", select a tournament and click on register button, if the
        tournament requires more than one players, you can filter and select
        your teammates before registering.
      </div>
    </div>
    <div class="div-two">
      <img src="assets/battle.png" alt="" />
      <div class="multiplayer">Survival of the best #</div>
      <div>Team 1 VS Team 2</div>
      <div>Level up By winning matches</div>
    </div>
  </div>
</section>
<div class="section-three">
  <img src="/assets/pad.png" alt="" />
  <!-- Your content for section 3 here -->
</div>
