<!-- <div class="image-gallery">
  <ng-container *ngFor="let image of images">
    <img src="{{ image }}" class="rounded-image" alt="Image" />
  </ng-container>
</div> -->
<div class="background">
  <h1>Sponsors</h1>
  <div class="container">
    <div class="images">
      <img src="assets/premier.jpeg" alt="" />
      <img src="assets/pes.png" alt="" />
      <img src="assets/league.png" alt="" />
      <img src="assets/laliga.png" alt="" />
      <img src="assets/fifa.png" alt="" />
      <img src="assets/easports.jpeg" alt="" />
    </div>
  </div>
</div>
