.background{
    background-color: rgb(45, 49, 49);
        height: auto;
        width: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        h1{
            text-align: center;
            color: rgb(211, 69, 69);
            font-weight: 900;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
}
img {
    position: absolute;
    
}
.container{
    width: 350px;
    height: 200px;
    position: relative;
    margin-top: 15%;
    margin-left: 40%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateZ(-10deg) ;
    animation: ror 20s linear infinite;
    
}
@keyframes ror{
    50%{
        transform: rotateX(20deg);
    }
    80%{
        transform: rotateX();
    }
}

.images{
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}
@keyframes rotate{
    from{

    }
    to{
        transform: rotateY(360deg);
    }
}
img:nth-child(1){
    transform: rotateY(60deg) translateZ(300px);
}
img:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px);
}img:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);
}img:nth-child(4) {
    transform: rotateY(240deg) translateZ(300px);
}img:nth-child(5) {
    transform: rotateY(300deg) translateZ(300px);
}img:nth-child(6) {
    transform: rotateY(360deg) translateZ(300px);
}

img:hover{
    width: 340px;
    height: 220px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .background {

       
display: none;
    }
       

}


