<div class="section-first">
  <div class="flex-container">
    <div class="section-one">
      <div class="sec-one">
        <div class="box">
          <div><img src="assets/register.png" alt="yfst" /></div>
          <div class="overlay">
            <h1>Register</h1>

            <div class="join">Join tournaments</div>
          </div>
        </div>
        <div class="box">
          <div><img src="assets/connect.png" alt="yfst" /></div>
          <div class="overlay">
            <h1>Connect</h1>
            <div class="join">Link up with Friends</div>
          </div>
        </div>
        <div class="box">
          <div>
            <div><img src="assets/pad.png" alt="yfst" /></div>
            <div class="overlay">
              <h1>Play</h1>
              <div class="join">Play tornaments</div>
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <div><img src="assets/trophy.jpg" alt="yfst" /></div>
            <div class="overlay">
              <h1>Reward</h1>
              <div class="join">Win and get price</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-two">
      <h1 appTypewriter>GAMELYD</h1>

      <div class="online">Online Tournament Plartform</div>
      <div class="three">
        Gamelyd is an online plartform that helps in organizing game tournaments
        in diffrent modes, Gamelyd simplifies and makes it easy for people in
        diffrent locations to meet and play tournaments together.
      </div>

      <div class="three">
        For PAID and SPONSORED tournament, Gamelyd holds the price till proof of
        win is provided.
      </div>
      <div class="three">
        Only the host of a particular tournament has the power to input scores
        for matches, all draws and rankings happens automatically by the system,
        you can contact us if you find flaws in your results.
      </div>
      <button>TOURNAMENTS</button>
    </div>
  </div>

  <div class="section-three">
    <img src="/assets/pad.png" alt="" />
    <!-- Your content for section 3 here -->
  </div>
</div>
