<div class="section-first">
  <div class="flex-container">
    <div class="section-two">
      <h1 appTypewriter>Tournaments</h1>

      <div class="online">Modes for all tournaments</div>
      <div class="three">
        <h2>Free</h2>

        Free tournaments are created without payment, and can be joined without
        payment too. but the host can attach a token for the winner so you can
        watch out for that in tournament description
      </div>
      <div class="three">
        <h2>Paid</h2>

        Paid tournaments are created without payment, but to join you have to
        pay the specified amount, and the winner leaves with a specified amount
        too.
      </div>
      <div class="three">
        <h2>Sponsored</h2>

        Sponsored tournaments are created by making initial payment, you can
        join without making payment and winner leaves with a specified amount.
      </div>
      <button>TOURNAMENTS</button>
    </div>

    <div class="section-one">
      <div class="sec-one">
        <div class="box">
          <div><img src="assets/register.png" alt="yfst" /></div>
          <div class="overlay">
            <h1>No cash required to join</h1>

            <!-- <div class="join">Pay to join</div> -->
          </div>
        </div>
        <div class="box">
          <div><img src="assets/connect.png" alt="yfst" /></div>
          <div class="overlay">
            <h1>Pay to join</h1>
            <!-- <div class="join">Sponsorship is allowed</div> -->
          </div>
        </div>
        <div class="box">
          <div>
            <div><img src="assets/pad.png" alt="yfst" /></div>
            <div class="overlay">
              <h1>Sponsorship is allowed</h1>
              <!-- <div class="join">Play tornaments</div> -->
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <div><img src="assets/trophy.jpg" alt="yfst" /></div>
            <div class="overlay">
              <h1>Win and get price</h1>
              <!-- <div class="join">Win and get price</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
