<nav id="my-first">
  <ul>
    <li class="logotype">
      <a href="#">Games</a>
    </li>
    <li class="burger" (click)="toggleNavbar()">
      <i class="material-icons">{{ navbarOpen ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="navbarOpen">
      <a href="#" class="menu-item">Home</a>
      <a href="aboutpage/about" class="menu-item">About</a>
      <a href="aboutpage/contact" class="menu-item">Contact</a>
      <button routerLink="auth/login" class="menu-item signin">Sing In</button>
    </li>
  </ul>
</nav>
