<section>
  <div class="flex">
    <div class="div-one">
      <h1 class="multy">Multiplayer</h1>
      <div class="create">Create Tournament</div>
      <div class="play">
        Multiplayer tournaments are grouped in stages with draws, each team gets
        to qualify by beating there opposition in the current stage or darw and
        vice versa, you can create a multiplayer tournament by clicking any of
        the create tournament buttons.
      </div>
      <div class="join">Join Tournament</div>
      <div class="play">
        To join a Multiplayer tournament, you can go to tournaments page and
        filter by "MP", select a tounament and click on register button, if the
        tournament requires more than one players, you can filter and select
        your teammates before registering.
      </div>
    </div>
    <div class="div-two">
      <img src="assets/ronaldo.jpeg" alt="" />
      <div class="multiplayer">Multiplayer</div>
      <div>Team 1 VS Team 2</div>
      <div>Level up to next round by winning your opponent</div>
    </div>
  </div>
</section>
